/* css variables */

:root {
  --size-input: 16;
}

/* global generic styles */

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

/* element specific styles */

body {
  width: 100vw;
  height: 100vh;
  padding: 1rem;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu {
  width: 100%;
  max-width: 400px;
  padding: 1rem 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.div-container {
  width: 400px;
  height: 400px;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.pixel {
  width: calc(100% / var(--size-input));
  height: calc(100% / var(--size-input));
  padding: 0;
  margin: 0;
  background-color: hsl(0, 0%, 88%);
  transition: background-color 0.41s ease-in;
  transition-delay: 0.1025s;
}

.pixel.dark {
  background-color: hsl(0, 0%, 56%);
  transition: background-color 0.1025s linear;
}

.div-container.animate {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}
