/* CSS Variables */

:root {
  --size-input: 16;
}

/* Global Styles */

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

button {
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
  padding: 0.5rem 1rem;
  margin: 0;
  background-color: hsl(0, 96%, 48%);
  border-top: 1px solid hsl(0, 96%, 32%);
  border-right: 3px solid hsl(0, 96%, 32%);
  border-bottom: 3px solid hsl(0, 96%, 24%);
  border-left: 1px solid hsl(0, 96%, 32%);
  border-radius: 0.25rem;
}

/* Element Styles */

body {
  width: 100vw;
  height: 100vh;
  padding: 1rem;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu {
  width: 100%;
  max-width: 400px;
  padding: 1rem 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.div-container {
  position: relative;
  width: 400px;
  height: 400px;
  padding: 0;
  margin: 1rem 0 0 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.div-container.animate {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

.pixel {
  width: calc(100% / var(--size-input));
  height: calc(100% / var(--size-input));
  padding: 0;
  margin: 0;
  background-color: hsl(0, 0%, 88%);
  transition: background-color 0.205s ease-in;
}

.pixel.dark {
  background-color: hsl(0, 0%, 56%);
  transition: background-color 0.1025s linear;
}

/* CSS Animation */

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}
